<div class="col-md-8 blog-main">
  <h2>
    <%= @blog.title %>
  </h2>
  <p>
    <%= @blog.body %>
  </p>
  <p>
    <%= @blog.status %>
  </p>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
  <%= link_to 'Back', blog_index_path %>
</div>


