<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
            <div class="card-body">
                <p class="card-text">
                    <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
                    <splan class="text-capitilize mark rounded p-2"><%= portfolio_item.subtitle %></splan>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <% if logged_in?(:site_admin) %>
                        <div class="btn-group">
                            <%= link_to 'Delete', portfolio_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary', method: :delete, data: { confirm: 'Are you sure?' } %>
                            <%= link_to "Edit", edit_portfolio_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary' %>
                        </div>
                    <% end %>
                </div>
            </div>
    </div>
</div>


