<div class="<%= location %>">
  <div>
    <%= link_to "Home", root_path %>
  </div>
  <div>
    <%= link_to "About", about_me_path %>
  </div>
  <div>
    <%= link_to "Contact", contact_path %>
  </div>
  <div>
    <%= link_to "Blog", blog_index_path %>
  </div>
  <div>
    <%= link_to "Portfolio", portfolios_path %>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cosmo
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="download">
        <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/h3fgn55j/">Open in JSFiddle</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="../4/cosmo/bootstrap.min.css">bootstrap.min.css</a>
        <a class="dropdown-item" href="../4/cosmo/bootstrap.css">bootstrap.css</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="../4/cosmo/_variables.scss">_variables.scss</a>
        <a class="dropdown-item" href="../4/cosmo/_bootswatch.scss">_bootswatch.scss</a>
      </div>
    </li>
  </ul>
</div>