<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <%= link_to 'Brent.Codes', root_path, class: 'navbar-brand' %>
          <%= link_to "About", about_me_path, class: 'nav-link text-white' %>
          <%= link_to "Contact", contact_path, class: 'nav-link text-white' %>
          <%= link_to "Blog", blog_index_path, class: 'nav-link text-white' %>
          <%= link_to "Portfolio", portfolios_path, class: 'nav-link text-white' %>

          <% if current_user.is_a?(GuestUser) %>
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link text-white' %>
            <%= link_to 'Login', user_session_path, class: 'nav-link text-white'  %>
          <% else %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link text-white' %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>